@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<h3>Autor</h3>
<p>Thyago Bezerra Lima</p>

<h3>Github</h3>
<p><img src="~/images/GitHub-Mark-64px.png"/><a href="https://github.com/thyago86">Só clicar aqui que você chega lá.</a></p>

<h4>Clicando neste botão, uma mágica acontece</h4>
<button onclick="Magica()">Mágica</button>
<div id="magica"></div>

<script>
    function Magica() {
        document.getElementById("magica").innerHTML="<img src='https://ih1.redbubble.net/image.851993387.0965/flat,750x,075,f-pad,750x1000,f8f8f8.jpg' />";
    }
</script>
