@{
    ViewData["Title"] = "Home Page";
}
<style>
    #familia {
        width: 100%;
        height: auto;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <img id="familia" src="~/images/177268060-56a13da63df78cf77268b2ee.jpg" />
    <p>Este site foi feito usando .Net Core 3.1 no Visual Studio 2019!</p>
    <p>Para navegar pelo site, basta escolher algum dos itens na barra de navegação.</p>
    <p>O tema desta página é a Família em torno do café</p>    
    
</div>
