@{
    ViewData["Title"] = "Home Page";
}
<style>
    .familia {
        width: 100%;
        height: auto;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <img class="familia" src="~/images/177268060-56a13da63df78cf77268b2ee.jpg" />
    <p>Este site foi feito usando .Net Core 3.1 no Visual Studio 2019!</p>
    <p>Para navegar pelo site, basta escolher algum dos itens na barra de navegação.</p>
    <p>O tema desta página é a Família em torno do café</p>
    <img class="familia" src="~/images/gettyfamily.jpg" />

    <p>“Aceita um café?” É uma das frases mais comuns ouvidas no mundo inteiro. O café pode ser um apaziguador de ânimos, um consolo em horas difíceis, uma pausa entre reuniões, uma companhia durante uma espera, uma gentileza dos anfitriões ou pode simplesmente estar presente em outras ocasiões de cordialidade que exige a sociedade. Gentilezas à parte, a bebida “mágica” transformou-se em hábito que tem o poder de aproximar as pessoas desde épocas bem remotas.</p>

    <p>Dificilmente hoje em dia imaginamos nossa vida sem o café, tão forte é o costume de tomá-lo que no Brasil o desjejum é chamado de “café da manhã”.</p>

    <p>Beber esse líquido negro e precioso que está presente em muitas ocasiões e em muitos lugares do mundo é um ato milenar quase ritualistíco e possui uma história de altos e baixos que se mantém ao longo dos séculos. Porém, é bem mais complicado do que se imagina todo o processo até o café chegar à mesa, uma vez que o cafeeiro, de acordo com Guimarães (2010), pode demorar até seis anos para germinar, pois a planta para frutificar depende muito das condições naturais.</p>

    <img class="familia" src="~/images/MON1109089.jpg" />

    <p>O maravilhoso produto não se ateve simplesmente a influenciar a economia e a política, inspirou também, entre outras manifestações artísticas e literárias, alguns versos populares como demonstra, segundo Magalhães (1939, p. 198), uma quadra popular ouvida na Bahia:</p>

    <p>
        Parece história, parece,<br />
        Mas fantasia não é:<br />
        A vaca branca dá leite,<br />
        E a preta é que dá café.<br />
    </p>

    <p>Atualmente, o Brasil ocupa a posição de maior produtor e exportador de café (em grãos) do mundo. Responsável por mais de um terço da produção mundial, o país está também entre os maiores consumidores.</p>

    <p>A rica e curiosa história do café que teve influência na economia, na política, na cultura, na arte e inclusive na literatura nos permite avaliar o quão precioso é esse produto para o Brasil e para o mundo desde seu surgimento até os dias de hoje. Não é à toa que Martins (2012, p.3) cita o ditado mais que justo sobre o maravilhoso líquido negro: “Segure uma xícara exalando o aroma de um bom café e você estará com a história em suas mãos”.</p>

    <p><a href="http://basilio.fundaj.gov.br/pesquisaescolar/index.php?option=com_content&view=article&id=1092%3Acafe-origem-e-tradicao&catid=38%3Aletra-c&Itemid=1">Fonte: <b>Café: origem e tradição</b></a></p>

</div>
