@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <img src="~/images/com-capsulas-cafe-D_NQ_NP_992906-MLB31203320432_062019-F.jpg" />
    <p>Este site foi feito usando .Net Core 3.1 no Visual Studio 2019!</p>
    <p>Para navegar pelo site, basta escolher algum dos itens na barra de navegação.</p>
    <p>Infelizmente, fechei a janela antes de anotar qual tema deveria ter este site.</p>
    <p>Por isso, resolvi fazer um site mais genérico.</p>
    
</div>
