
@{
    ViewData["Title"] = "Sobre";
}
<style>
    #logo{

    }
</style>
<h1>Sobre</h1>

<p>Este site foi feito utilizando .Net Core 3.1</p>
<p><a href="https://docs.microsoft.com/pt-br/dotnet/core/whats-new/dotnet-core-3-1">Clique aqui</a> para se informar mais sobre o .Net Core 3.1</p>

<p><img id="logo" src="~/images/com-capsulas-cafe-D_NQ_NP_992906-MLB31203320432_062019-F.jpg" /></p>


<p>A 3corações é uma indústria alimentícia que surgiu de um empreendimento conjunto entre a brasileira <a href="http://www.saomiguelpar.com.br/">São Miguel Holding</a>, dona da empresa <a href="https://www.cafesantaclara.com.br/">Santa Clara</a>, e a israelita <a href="https://www.strauss-group.com/company/strauss-coffee/">Strauss</a>, proprietária da empresa Café Três Corações. A empresa atua em vários segmentos, entre os principais são o café, máquinas multi-bebidas, produtos derivados do milho, temperos, achocolatados e refrescos.</p>

<p>Segundo a Associação Brasileira de Indústria de Café (ABIC), atualmente é a maior empresa brasileira no setor de café.</p>


